/* @import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root{
    --light-gray:rgb(192, 192, 192);
    --white:white;
    --green:#2d6961;
    --yellow:#f9db8e;
    --light-orange:#f9b668;
    
    --dark-brown:#5e2d27;


}
body{
    font-family:'Poppins',sans-serif ;
    background-color:var(--white) ;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    background-color: var(--green);
    padding:10px 20px;
    margin:1rem 0;
    width:600px;
    height:max-content;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  color:black;
}

button[type="submit"] {
  background-color: var(--light-orange);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.quiz-form{
    padding:10px 20px;
}
#quiz-form .qz-frm-clr option{
    color:black;
    font-size: large;
}

.quiz-container{
    padding:10px 20px;
    display:none;
}
.quiz-title{
    text-align:center;
}
.quiz-score{
    font-weight: bold;
    margin: 2px auto;
    border:2px solid var(--light-orange);
    width:100px;
    padding:4px 0;
}
.quiz-question{
    text-align: center;
}
.quiz-question .category{
    font-size: 0.9rem;
    font-weight: 500;
    background-color:var(--light-orange);
    padding:4px 10px;
    border-radius:5px;
}
.quiz-options{
    list-style-type:none;
    margin:1rem 0;
}
.quiz-options li{
    font-weight: 500;
    border-radius:10px;
    background-color: var(--light-orange);
    margin: 1rem 0;
    padding:10px 20px;
    box-shadow: 1px 1px 1px 0 var(--white);
    cursor: pointer;
}

.quiz-options li:hover span {
    color: black;
}


.quiz-options li:hover{
    background-color: var(--white);
    color:black;
    box-shadow: 1px 2px 0px 0 var(--light-gray);
}
.quiz-options li:active{
    transform: scale(0.98);

}
.selected{
    background-color: var(--white)!important;
    color: black !important;
    box-shadow: 1px 2px 0px 0 var(--light-gray)!important;
}
.selected span{
    color:black !important;
}
.quiz-foot button{
    color:black;
    border:none;
    border-radius:0.5rem;
    outline:0;
    font-family:'Poppins',sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding:.5rem 1rem;
    margin:0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    letter-spacing: 2px;
    background-color: whitesmoke;
}
.quiz-foot button:hover{
    box-shadow: 1px 2px 0px 0 var(--light-gray);
}
.quiz-foot button:active{
transform: scale(0.95);
}

#play-again{
    display:none;
}
#result{
    margin: 0 0 12px 0;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

@media (max-width:678px){
    .quiz-title{
        font-size:1.6rem;
    }
    .wrapper{
        margin:3rem 0;
        width:90%;
        padding:1.5rem 1rem 3rem 1rem;

    }
    .quiz-foot button{
        font-size:0.8rem;
    }
}